beautifulsoup4==4.11.1
cx_Freeze==6.11.1
numpy==1.21.4
opencv_contrib_python==4.5.5.64
PyAudio==0.2.11
PyAutoGUI==0.9.53
pycricbuzz==2.4
PyQt5==5.15.7
pyttsx3==2.90
pywhatkit==5.3
pywin32==301
requests==2.26.0
SpeechRecognition==3.8.1
speedtest==0.0.1
speedtest_cli==2.1.3
sports.py==2.0.10
wikipedia==1.4.0
wolframalpha==5.0.0
